/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    #background-color: #f4f4f4;
    color: #333;
}

/* Header Styling */
header {
    position: sticky;
    top: 0;
    color: Black;
    text-align: center;
    padding: 20px;
    z-index: 100;
    background-color: white;
}

/* Navigation Styling */
nav ul {
    list-style-type: none;
    text-align: center;
    margin-top: 20px;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

/* Specific Section (About) Styling */
#featured {
    background-color: #2DE4ED; /* Blue background for the About section */
    color: white;           /* White text to contrast with the blue background */
    padding: 20px;          /* Add padding inside the section */
    margin: 20px 0;  /* Add margin for spacing between sections */
    text-align: center;
}

#projects{
    text-align: center;
}

#skills{
    text-align: center;
}

/* Section Styling */
section {
    padding: 20px;
    margin: 20px 0;
}

section h2 {
    color: #333;
}

footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}
